<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <title>Document</title>
</head>
<body class="bg-amber-100">
  <div>
    <!-- 固定ヘッダー block -->
    <nav class="sticky top-0 bg-amber-200">
      <div class="flex text-sm sm:justify-center space-x-10 py-2">
        <a href="{% url 'index' %}"
        class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-amber-300 hover:text-slate-900">
          トップ
        </a>
        <a href="{% url 'news_article' %}"
        class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-amber-300 hover:text-slate-900">
          お知らせ
        </a>
        <a href="{% url 'list_article' %}"
        class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-amber-300 hover:text-slate-900">
          記事
        </a>
        <a href="{% url 'create_test' %}"
        class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-amber-300 hover:text-slate-900">
          テスト
        </a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'account:logout' %}"
        class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-amber-300 hover:text-slate-900">
          ログアウト
        </a>
        {% else %}
        <a href="{% url 'account:login' %}"
        class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-amber-300 hover:text-slate-900">
          ログイン
        </a>
        <a href="{% url 'account:signup' %}"
        class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-amber-300 hover:text-slate-900">
          新規登録
        </a>
        {% endif %}
      </div>
    </nav>
    <!-- コンテンツ block -->
    <div class="p-4 m-4 justify-center text-center text-slate-900">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</body>
{% block vue %}
{% endblock vue %}
</html>