{% extends 'base.html' %}

{% block content %}
<h1 class="mx-14 text-2xl font-bold">テスト</h1>
<hr class="w-full h-1 mx-auto mb-4 bg-slate-700 border-0 rounded">
<form method="post">
  {% csrf_token %}
  <div class="py-2">
    <p>名前</p>
    <input name="name" class="border border-slate-500 rounded">
  </div>
  {% if form.errors %}
    <div class="text-red-500">form.errors</div>
  {% endif %}
  <br><button
    type="submit"
    class="p-1 px-4 font-bold bg-amber-500 rounded">投稿</button>
  <!-- 本当のこと言うと投稿の前にプレビュー画面を挿入したい -->
</form>
{% endblock content %}